<div class="product__info-wrapper">
<h2>EXTENSION</h2>
</div>
{% schema %}
  {
    "name": "Live Extension",
    "target": "section",
    "stylesheet": "app.css",
    "javascript": "app.js",
    "settings": [
        { "label": "Color", "id": "color", "type": "color", "default": "#000000" }
    ]
  }
{% endschema %}